$primary-green-color: #23533b;
$secondary-green-color: #016747;
$tertiary-green-color: #2c7952;
$primary-yellow-color: #ffce2b;
$text-color: #181818;
$background-color: #fbfbfb;
$border-color: #f0f0f0;
$basic-background: #ffffff;
$basic-text: #000000;
$basic-outline: #000000;

$lightBlue-background: #e6eaef;
$lightBlue-text: #1f4a70;
$lightBlue-outline: #1f4a70;

$green-background: #d5ead3;
$green-text: #316e36;
$green-outline: #316e36;

$darkBlue-background: #7086a6;
$darkBlue-text: #ffffff;
$darkBlue-outline: #231f20;

$brown-background: #b4b3a8;
$brown-text: #ffffff;
$brown-outline: #231f20;

// $theme-colors: (
//   "primary": $primary-green-color,
//   "secondary": $secondary-color,
//   "text": $text-color,
//   "background": $background-color,
//   "border": $border-color,

//   "basic-background": $basic-background,
//   "basic-text": $basic-text,
//   "basic-outline": $basic-outline,

//   "lightBlue-background": $lightBlue-background,
//   "lightBlue-text": $lightBlue-text,
//   "lightBlue-outline": $lightBlue-outline,

//   "green-background": $green-background,
//   "green-text": $green-text,
//   "green-outline": $green-outline,

//   "darkBlue-background": $darkBlue-background,
//   "darkBlue-text": $darkBlue-text,
//   "darkBlue-outline": $darkBlue-outline,

//   "brown-background": $brown-background,
//   "brown-text": $brown-text,
//   "brown-outline": $brown-outline,
// );
